node_modules
.next
out
build
data
*.sqlite
*.sqlite-shm
*.sqlite-wal
.git
.gitignore
.gitattributes
.env
.env.*
!.env.example
Dockerfile
.dockerignore
docker-compose.yml
README.md
Todo.md
*.tsbuildinfo
.vscode
.idea
